@import "main_page.css";


// Font
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

$yello: #d6b800;
$black: #000;
$grey: #b8b8b8;


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  font-family: 'Oswald', sans-serif;
  font-weight: 300;

  a{
    text-decoration: none;

    &:checked{
      color: $grey;
    }

    &:active{
      color: $grey;
    }
  }
}

.container{
  margin: auto;
  max-width: 1440px;
}



.custom-list{
  list-style: none;
  padding-left: 1.5em;

  li{
    position: relative;

    &:hover{
      &:before{
        transform: rotate(1120deg);
      }
    }

    &:before{
      content: '';
      display: inline-block;
      position: absolute;
      width: 9px;
      height: 9px;
      background-image: url("../../src/assets/svg/triangle.svg");
      left: -1.2rem;
      top: 40%;
      transform: rotate(235deg);
      transition: 0.5s ease-in-out;

    }
  }
}